@import "./variables.less";

@navHeight: 30px;
@headerHeight: 100px;
@detailsHeight: 30px;

/* ----------------------------------------- */
/*  All PF1 Apps                           */
/* ----------------------------------------- */

.pf1 {
  header {
    flex: 0;
  }

  .switch-check {
    display: none;
  }

  .switch-label > span {
    display: block;
    border: 1px solid @dark-color;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    padding: 2px;
    width: calc(100% - 2px);
    text-align: center;
  }

  .switch-label > span.switch-primary {
    background-color: fade(@light-color, 75%);
    color: @dark-color;
  }

  .switch-label > span.switch-secondary {
    background-color: fade(@dark-color, 75%);
    color: @light-color;
  }

  .switch-check:not(:checked) + .switch-label .switch-primary {
    display: none;
  }
  .switch-check:checked + .switch-label .switch-secondary {
    display: none;
  }

  input[type="text"]::placeholder,
  .placeholder {
    color: @colorTan;
  }

  input[type="text"][disabled] {
    color: @colorTan;
  }

  .align-left {
    text-align: start;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: end;
  }

  li {
    align-items: center;
  }

  .window-content {
    background: @sheetBackground;
    font-size: 13px;
    color: @colorDark;
    overflow: hidden;
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Item Sheet form fields
  input[type="text"],
  input[type="number"],
  select {
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    color: @colorDark;
  }

  // Hovered Fields
  input[type="text"],
  input[type="number"] {
    &:hover,
    &:focus {
      border: 1px solid #111;
      box-shadow: 0 0 8px red;
    }
  }

  // Disabled Fields
  input:disabled,
  select:disabled,
  textarea:disabled,
  input:readonly {
    color: @colorOlive;
    &:hover,
    &:focus {
      box-shadow: none !important;
    }
  }

  // Buttons
  button {
    background: rgba(0, 0, 0, 0.1);
    border: @borderGroove;
  }
  button:active {
    background: rgba(0, 0, 0, 0.3);
  }

  // Checkbox Labels
  label.checkbox {
    flex: auto;
    margin: 0;
    line-height: 20px;
    font-size: 11px;

    input[type="checkbox"] {
      height: auto;
      margin: 0 5px 0;
      position: relative;
      top: 3px;
    }
  }

  /* Form Groups */
  .form-group {
    flex: 0 0 24px;

    label.header {
      flex: 0 0 100%;
    }

    label:nth-child(1n + 1) {
      margin-left: 4px;
    }

    .buff-flags {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      max-height: 76px;
      overflow-y: auto;

      label.checkbox {
        flex: 0 0 50%;
        text-align: left;
      }
    }

    label {
      flex: 0 0 200px;
      color: @colorOlive;
      font-weight: bold;
      white-space: nowrap;

      &.checkbox {
        flex: 0;
      }

      &.aura-strength {
        text-align: right;
        margin-right: 4px;
      }
    }
    span {
      flex: 0 0 1px;
    }
    .form-fields {
      .flexrow();
      > * {
        margin: 0 3px 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .group {
      flex: 1 1 96px;

      label {
        flex: 1;
        font-weight: normal;
      }

      a {
        flex: 0 0 16px;
      }
    }
  }

  // Stacked Groups
  .form-group.stacked {
    label {
      flex: 0 0 100%;
    }
    label.checkbox {
      text-align: left;
    }

    .data-selector {
      flex: 1;

      label {
        font-weight: normal;
        flex: 1;
      }

      .entry-selector {
        flex: 0 0 16px;
      }
    }
  }

  // Form Headers
  .form-header {
    margin: 0 0 0.25em 0;
    padding: 0 2px;
    .nodesto();
    font-size: 26px;
    border-top: @borderGroove;
    border-bottom: @borderGroove;
  }

  /* Tags */
  .tag {
    display: inline-block;
    margin: 0 2px 1px 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);

    &.type1 {
      background: rgba(255, 0, 0, 0.1);
    }
    &.type2 {
      background: rgba(0, 255, 0, 0.1);
    }
    &.type3 {
      background: rgba(0, 0, 255, 0.1);
    }
  }

  div.links-body {
    table {
      .links-item-extra-field {
        width: 128px;
      }

      .links-controls {
        width: 48px;

        & > div {
          display: flex;
          justify-content: center;
        }
      }

      .links-item {
        .links-item-name {
          img {
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }
        }
      }

      th {
        background-color: rgb(116, 116, 116);
      }

      tr:not(:last-child) {
        border-bottom: 1px solid rgb(136, 136, 136);
      }

      td:not(:last-child),
      th:not(:last-child) {
        border-right: 1px solid rgb(136, 136, 136);
      }
    }
  }

  .help-icon {
    flex: 0;
  }

  .help-text {
    background-color: rgba(10, 0, 0, 0.05);
    border: dotted rgba(0, 0, 0, 0.2);
    flex: 0 0 24px;
    padding: 3px;
    margin-bottom: 3px;
  }

  .item-links {
    flex: 0 0 24px;
  }

  .fake-inline-roll {
    background: #ddd;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
  }
}

/* ----------------------------------------- */
/*  Trait Selectors Specifically             */
/* ----------------------------------------- */

.pf1.trait-selector {
  max-height: 720px;

  .window-content {
    overflow: auto;
  }
}

/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */

.pf1.sheet {
  .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: @sheetBackground;
    font-size: 13px;
    color: @colorDark;

    form {
      height: 100%;
      overflow: hidden;
    }

    .tab {
      height: 100%;
      overflow-y: auto;
      align-content: flex-start;
    }
  }

  .inventory-list,
  .items-list {
    list-style: none;
    margin: 0;
    padding: 0 0;
    overflow-y: auto;

    .inventory-header,
    .items-header,
    .items-list {
      .fas {
        text-align: center;
      }

      .item-name {
        align-items: baseline;

        .change-formula {
          margin: 0 2px;
        }

        > textarea {
          margin: 0 2px;
        }

        .item-info {
          flex: 0 0 16px;
          margin-right: 4px;
        }
      }
      .item-enabled {
        flex: 0 0 48px;
      }
      .item-operator {
        flex: 0 0 56px;
      }
      .item-target {
        flex: 0 0 160px;

        .change-target,
        .context-note-target {
          flex: 0 0 156px;
          width: 156px;
        }
      }
      .item-modifier {
        flex: 0 0 112px;

        .change-modifier {
          flex: 0 0 108px;
          width: 108px;
        }
      }
      .item-priority {
        flex: 0 0 32px;
      }
    }

    &.flexcol {
      height: 100%;
    }

    // Inventory Item
    .item {
      line-height: 24px;
      padding: 0 2px; // to align with the header border
      border-bottom: 1px solid @colorFaint;
      &:last-child {
        border-bottom: none;
      }

      background-color: rgba(155, 155, 155, 0.3);
      &:nth-child(2n + 1) {
        background-color: rgba(210, 210, 210, 0.3);
      }
      &:hover {
        background-color: rgba(64, 64, 192, 0.3);
      }

      &.disabled {
        .item-name {
          h4 {
            text-decoration: line-through;
            color: @colorTan;
          }
        }
      }

      // Item Header Name
      .item-name {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        align-items: center;

        &.flag-name {
          cursor: initial;
        }

        .item-image {
          height: 24px;
          flex: 0 0 24px;
          background-size: 24px;
          margin-right: 5px;
        }

        h4 {
          margin: 0;
          min-width: 0;
        }

        .item-image:hover:not(.no-hover) {
          background-image: url("../../icons/svg/d20-black.svg") !important;
        }
      }

      input[type="checkbox"] {
        height: 12px;
      }

      // Item Dropdown Properties
      .item-properties {
        margin-top: 3px;
      }

      // Charged
      .item-recharge {
        flex: 0 0 80px;
        text-align: right;
        font-size: 14px;
        color: @colorTan;
      }

      .item-actions {
        > div {
          a {
            display: flex;
            flex: 0 0 16px;
            padding: 0;
            margin-right: 1px;
            height: 16px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    // Inventory Header
    .inventory-header,
    .items-header {
      margin: 2px 0;
      padding: 0;
      background: rgba(0, 0, 0, 0.05);
      border: @borderGroove;
      line-height: 24px;
      flex: 0 0 24px;

      h3 {
        margin: 0;
        padding-left: 5px;
        font-size: 14px;
        font-weight: bold;
      }

      .item-controls {
        justify-content: space-evenly;
      }
    }

    .inventory-header,
    .items-header,
    .item {
      > *:not(:last-child) {
        border-right: 1px solid @colorBeige;
      }

      > *:not(.item-name) {
        justify-content: space-evenly;
      }
    }

    // Item Detail Sections
    .item-detail {
      height: 24px;
      flex: 0 0 80px;
      font-size: 14px;
      color: @colorTan;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      .flexrow();
      justify-content: flex-end;
      align-items: center;

      .icon {
        background-color: @colorTan;
      }

      &.item-actions {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
        justify-content: center;

        & > div {
          flex: 0 0 16px;
        }
      }

      &.item-slot {
        flex: 0 0 64px;
        padding: 0 1px 0 1px;
      }

      &.item-usage {
        flex: 0 0 80px;
        padding: 0 1px 0 1px;
      }

      &.item-type {
        flex: 0 0 120px;
        padding: 0 1px 0 1px;
      }

      &.item-value {
        flex: 0 0 72px;
        padding: 0 1px 0 1px;
      }

      &.item-weight {
        flex: 0 0 56px;
        padding: 0 1px 0 1px;
      }

      &.item-hidden {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-identified {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-carried {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-equipped {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-uses {
        flex: 0 0 64px;
        padding: 0 1px 0 1px;
      }

      &.item-attacks {
        flex: 0 0 56px;
      }

      &.item-damage {
        flex: 0 0 100px;
      }

      &.item-range {
        flex: 0 1 56px;
      }

      &.item-button {
        flex: 0 0 64px;

        button {
          height: 24px;
          font-size: 11px;
          padding: 0;
          line-height: 24px;
        }
      }
    }

    a.item-control {
      height: 100%;

      &.item-toggle-data {
        color: rgba(75, 75, 75, 0.3);

        &.enabled {
          color: rgba(75, 75, 75, 1);
        }
      }
    }

    .item-level {
      flex: 0 0 40px;
    }

    .item-feat-level {
      flex: 0 0 60px;
    }

    .item-active {
      flex: 0 0 60px;
    }

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    // Item Control Buttons
    .item-controls {
      flex: 0 0 100px;
      .flexrow();
      overflow-x: hidden;
      white-space: nowrap;
      justify-content: center;

      a {
        flex: 0 0 16px;
        font-size: 14px;
        text-align: center;
        color: #666;
      }

      &.basic {
        flex: 0 0 48px;
      }
    }

    // Item Dropdown Summary
    .item-summary {
      flex: 0 0 100%;
      font-size: 14px;
      line-height: 16px;
      padding: 0.25em 0.5em;
      border-top: 1px solid @colorFaint;
    }
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Input Fields
  input[type="text"],
  input[type="number"] {
    background: none;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid #111;
    }
  }

  textarea {
    font-family: sans-serif;
    padding: 1px 5px;
    resize: none;
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    &:hover {
      border: 1px solid #111;
    }
  }

  // Select Fields
  select {
    flex: 1;
    font-size: 12px;
    height: 24px;
    background: transparent;
  }

  // Rollable Links
  .editable .rollable:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    height: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
  }

  .notImp {
    text-decoration: firebrick dotted underline;
    text-decoration-skip-ink: none;
    &::after {
      color: firebrick;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f071";
      text-shadow: 0 0 4px white;
    }
  }

  .needSteps {
    text-decoration: goldenrod double underline;
    &::after {
      color: goldenrod;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f14a";
      text-shadow: 0 0 4px black;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  .sheet-header {
    flex: 0 0 @headerHeight;
    border-bottom: @borderGroove;
    align-items: center;

    h1,
    h2,
    h3,
    h4,
    h5 {
      .nodesto();
    }

    /* Character Name */
    h1 {
      flex: 1;
      border-bottom: none;
      height: 60px;
      margin: 0;
      padding: 5px;

      input {
        height: 50px;
        font-size: 36px;
        font-variant-caps: small-caps;
        margin: 0;
      }
    }

    /* Profile Image */
    img.profile {
      flex: 0 0 @headerHeight;
      width: @headerHeight;
      height: @headerHeight;
      object-fit: contain;
      border: none;
      border-right: @borderGroove;
    }

    /* Header Summary Details */
    .summary {
      flex: 0 0 100%;
      height: @detailsHeight * 1.2;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: @borderGroove;
      border-bottom: none;

      li {
        width: 33.33%;
        float: left;
        height: @detailsHeight - 6px;
        padding: 0 3px;
        border-right: @borderGroove;
        border-bottom: @borderGroove;
        line-height: @detailsHeight - 6px;
        color: @colorOlive;

        input {
          vertical-align: top;
        }

        // &:last-child {
        //   border-right: none;
        // }
      }
    }

    .header-details {
      .summary {
        input[type="checkbox"] {
          margin: 0;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */

  .sheet-navigation {
    flex: 0 0 @navHeight;
    .nodesto();
    margin: 4px 0;
    background: rgba(155, 155, 155, 0.3);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px 6px 0 0;

    .item {
      height: 30px;
      line-height: 32px;
      margin: 0 2px;
      white-space: nowrap;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 12px 12px 0 0;

      &.active {
        background: rgba(155, 155, 155, 0.5);
      }
      &:hover {
        background: rgba(155, 155, 155, 0.2);
      }
    }

    &.tabs {
      border-bottom: @borderGroove;
    }

    &.subtabs {
      font-size: 18px;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .primary-body {
    flex: 1;
    overflow: hidden;
  }

  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */

  .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;

    .filter-title {
      flex: 3;
    }

    .filter-item {
      text-align: center;
      font-size: 12px;
      margin: 0 6px;
      border-bottom: 3px solid @colorBeige;
      white-space: nowrap;

      &:hover {
        text-shadow: 0 0 4px red;
        border-bottom: 3px solid @colorTan;
      }

      &.active {
        border-bottom: 3px solid @colorCrimson;
      }
    }
  }

  // Clickable SVG icons
  a > .icon {
    &:hover {
      opacity: 0.5;
    }
  }

  .icon {
    border: none;
    display: inline-block;

    width: 16px;
    height: 16px;

    &.large {
      width: 24px;
      height: 24px;
    }
  }

  div.info {
    text-align: center;
    justify-content: center;

    span {
      color: @colorTan;
      flex: 0;

      a {
        color: @colorLink;
      }
    }
  }

  .currency {
    list-style: none;
    margin: 4px 0 8px;
    padding: 0;
    font-size: 14px;

    h3 {
      flex: 0 0 160px;
    }
    label.denomination {
      flex: 0;
      margin-left: 4px;
      text-align: right;
      line-height: 20px;
      color: @colorTan;
      cursor: grab;
      &::before {
        content: "\f58e";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        visibility: hidden;
      }
      &:hover::before {
        visibility: visible;
      }
    }
    input[type="text"],
    span.text-box {
      flex: 1;
      text-align: center;
      margin-left: 8px;
      border-bottom: @borderGroove;
      padding: 1px 3px;
      margin: 0;
      height: auto;
      line-height: 20px;
    }
    .convert-currency {
      flex: 0;
    }
  }
}

/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */

.trait-selector {
  .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input[type="text"] {
    height: 24px;
    margin: 2px;
  }
}

.pf1.entry,
.notes {
  table {
    border: 1px solid rgb(136, 136, 136);
    font-weight: normal;
    table-layout: fixed;

    th.entry-control {
      width: 16px;
    }

    tr {
      height: 16px;
    }
  }
}

.pf1.entry {
  thead {
    background-color: #cfe2f3;
  }

  tbody {
    tr {
      background-color: white;
    }

    tr:nth-child(even) {
      background-color: #f3f3f3;
    }
  }
}

.compendium-browser {
  max-height: 100%;

  h3.rollable {
    margin: 4px 0;
  }

  .rollable:hover {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

  .header {
    flex: 1;
    padding-right: 8px;
    border-right: @borderGroove;
    max-height: 100%;

    .search {
      height: 48px;
      display: flex;
      align-items: center;

      .fas.fa-search {
        margin: 4px;
      }
    }

    .filter-container {
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: calc(100% - 48px);
      margin-bottom: 8px;

      .filter {
        margin-top: 8px;
        border: 1px solid @borderDark;
        border-radius: 4px;
        max-height: 100%;

        h3 {
          text-align: center;
        }

        .filter-content {
          max-height: 100%;

          .checkbox {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .directory-container {
    flex: 1;
    max-height: 100%;

    .top {
      flex: 0;

      span {
        flex: 1;
        text-align: center;
      }
      span:not(:last-child) {
        border-right: @borderGroove;
      }
    }

    .directory-list {
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;

      .directory-item {
        align-items: center;
        border-bottom: 1px solid @borderLight;

        img {
          flex: 0;
          width: 48px;
          height: 48px;
          margin: 2px;
        }

        h4 {
          margin-left: 4px;
        }

        .entry-source {
          color: rgba(0, 0, 0, 0.5);
          flex: 1 2 0;
          text-align: right;
          margin-right: 4px;
        }
      }
    }
  }
}

.config .config-icon {
  opacity: 0;
}
.config:hover .config-icon {
  color: rgb(136, 136, 136);
  opacity: 1;
}

.pf1.pointbuy-calculator {
  ol.item-list {
    li {
      background-color: rgba(155, 155, 155, 0.3);
      &:nth-child(2n + 1) {
        background-color: rgba(210, 210, 210, 0.3);
      }
    }

    .ability-controls {
      flex: 0 0 32px;
      padding: 0 1px 0 1px;
    }

    .item-detail {
      &.ability-value {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }
    }
  }
}

.pf1 .currency-transfer {
  .form-group:nth-child(5) {
    background-color: rgba(170, 170, 170, 0.3);
    border-top: 1px dashed #aaa;
  }

  .form-group > label {
    flex: 0 0 150px;
  }

  .form-fields {
    input,
    span {
      flex: 2;

      font-weight: bold;

      &.text-box {
        line-height: 22px;
        border: 1px dotted #777;
        color: #333;
      }

      &:not(.text-box) {
        color: black;
        border: initial;
        border-bottom: 2px groove #eeede0;
      }
    }

    button > i:only-child {
      margin: 0;
    }
  }

  .form-group.currency-total .form-fields {
    label:nth-child(1) {
      text-align: right;
    }
    label:nth-child(2) {
      flex: initial;
    }
    label:nth-child(3) {
      text-align: left;
    }
  }
}

.dialog-get-actor {
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;

  margin-top: 4px;
  padding: 2px;

  img {
    flex: 0 0 96px;
    max-width: 96px;
    max-height: 96px;
    object-fit: contain;
  }

  h2 {
    vertical-align: middle;
    line-height: 96px;
    margin-left: 8px;
  }

  &:hover {
    border-color: #3030ff;
  }
}

/* ----------------------------------------- */
/* Changelog
/* ----------------------------------------- */

.pf1.changelog {
  .content {
    overflow-y: auto;
    max-height: 640px;

    li > ul {
      margin: 0;
    }
  }
}

/* ----------------------------------------- */
/* Help Browser
/* ----------------------------------------- */

.pf1.help-browser {
  section.window-content {
    padding: 0;

    .top-bar {
      padding: 6px;
      flex: 0 0 24px;
      border-bottom: @borderGroove;

      > * {
        margin-right: 8px;
      }

      i {
        font-size: 24px;
      }
      i.gray {
        color: gray;
      }
    }

    .content,
    nav {
      a {
        color: #ff6400;
        text-decoration: underline;
      }
    }

    .primary {
      height: calc(100% - 32px);
    }

    nav {
      flex: 0 0 200px;
      border-right: @borderGroove;
      height: 100%;
      overflow: auto;
    }

    .content {
      height: 100%;
      overflow: auto;
      padding-bottom: 32px;

      code {
        padding: 2px;
        background-color: black;
        color: white;
      }

      img {
        margin-left: 8px;
      }

      h2 {
        margin-top: 1em;
      }
    }
  }
}

/* ----------------------------------------- */
/* Script Editor
/* ----------------------------------------- */

.pf1.script-editor {
  .form-group.command {
    flex: 1;
    flex-direction: column;
    align-items: unset;

    label {
      flex: 0;
    }

    textarea {
      flex: 1;
    }
  }

  footer {
    flex: 0 0 32px;
  }
}

/* ----------------------------------------- */
/* Level Up Dialog
/* ----------------------------------------- */

.pf1.level-up {
  div.part {
    margin-bottom: 4px;
  }

  div.health {
    display: flex;
    flex-flow: row nowrap;

    .switch.roll-health {
      flex: 0 0 96px;

      .switch-label span {
        height: 26px;
        line-height: 26px;
        padding: 0;
      }
    }

    input[type="text"] {
      flex: 0 0 64px;
    }
  }
}
