{{!-- Misc Combat Header --}}
<div>
  <table>
    <thead>
      <tr>
        <th class="attribute bab" data-attribute="bab">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.BABAbbr"}}</span></a>
        </th>
        <th class="attribute cmb" data-attribute="cmb">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a>
        </th>
        <th class="attribute attack melee" data-attribute="melee">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Melee"}}</span></a>
        </th>
        <th class="attribute attack ranged" data-attribute="ranged">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Ranged"}}</span></a>
        </th>
        <th class="attribute initiative" data-attribute="initiative">
          <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="bab tooltip">
          <span class="tooltipcontent">
            @attributes.bab.total : {{data.attributes.bab.total}}
            {{#if sourceDetails.data.attributes.bab.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>

          {{#if iteratives}}
          {{iteratives}}
          {{else}}
          {{numberFormat data.attributes.bab.total decimals=0 sign=true}}
          {{/if}}
        </td>

        <td class="cmb tooltip">
          <span class="tooltipcontent">
            @attributes.cmb.total : {{data.attributes.cmb.total}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#if sourceDetails.data.attributes.cmb.total.length}}
            {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>

          {{numberFormat data.attributes.cmb.total decimals=0 sign=true}}
        </td>

        <td class="generic-melee tooltip">
          <span class="tooltipcontent">
            …<br/>
            + @attributes.attack.shared : {{data.attributes.attack.shared}}<br/>
            + @attributes.attack.general : {{data.attributes.attack.general}}<br/>
            + @attributes.attack.melee : {{data.attributes.attack.melee}}<br/>
            + @abilities.{{data.attributes.attack.meleeAbility}}.mod : {{data.attributes.attack.meleeAttackMod}}

            <br/><br/>{{localize "PF1.FromSources"}}<br/>
            {{#if sourceDetails.data.attributes.attack.shared.length}}
            {{#each sourceDetails.data.attributes.attack.shared as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{#if sourceDetails.data.attributes.attack.general.length}}
            {{#each sourceDetails.data.attributes.attack.general as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{#if sourceDetails.data.attributes.attack.melee.length}}
            {{#each sourceDetails.data.attributes.attack.melee as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{#if data.attributes.attack.meleeAttackMod}}
            {{data.attributes.attack.meleeAttackLabel}}: {{data.attributes.attack.meleeAttackMod}}<br/>
            {{/if}}
          </span>
          {{numberFormat meleeAttack decimals=0 sign=true}}
        </td>

        <td class="generic-ranged tooltip">
          <span class="tooltipcontent">
            …<br/>
            + @attributes.attack.shared : {{data.attributes.attack.shared}}<br/>
            + @attributes.attack.general : {{data.attributes.attack.general}}<br/>
            + @attributes.attack.ranged : {{data.attributes.attack.ranged}}<br/>
            + @abilities.{{data.attributes.attack.rangedAbility}}.mod : {{data.attributes.attack.rangedAttackMod}}

            <br/><br/>{{localize "PF1.FromSources"}}<br/>
            {{#if sourceDetails.data.attributes.attack.shared.length}}
            {{#each sourceDetails.data.attributes.attack.shared as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{#if sourceDetails.data.attributes.attack.general.length}}
            {{#each sourceDetails.data.attributes.attack.general as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{#if sourceDetails.data.attributes.attack.ranged.length}}
            {{#each sourceDetails.data.attributes.attack.ranged as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{#if data.attributes.attack.rangedAttackMod}}
            {{data.attributes.attack.rangedAttackLabel}}: {{data.attributes.attack.rangedAttackMod}}<br/>
            {{/if}}
          </span>

          {{numberFormat rangedAttack decimals=0 sign=true}}
        </td>

        <td class="initiative tooltip">
          <span class="tooltipcontent">
            @attributes.init.total : {{data.attributes.init.total}}
            {{#if sourceDetails.data.attributes.init.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>

          {{data.attributes.init.total}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>

{{!-- Attack Filters --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="attacks"}}

  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Attacks Header --}}
<div class="combat-attacks">
  <section class="attacks-body">
    {{#each sections as |section sid|}}
    {{#unless section._hidden}}
    <div class="inventory-group flexcol">
      <ol class="inventory-list">
        <li class="inventory-header flexrow attacks-{{sid}}">
          <h3 class="item-name flexrow">{{section.label}}</h3>

          {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "PF1.Type"}}"></i></div>{{/if}}

          <div class="item-detail item-attacks">
            <label>{{localize "PF1.Attacks"}}</label>
          </div>

          <div class="item-detail item-damage">
              <label>{{localize "PF1.Damage"}}</label>
          </div>

          <div class="item-detail item-range">
              <label>{{localize "PF1.Range"}}</label>
          </div>

          <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>

          <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>

          {{#if ../owner}}
          <div class="item-controls">
            {{#if section.canCreate}}
            <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
              <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
            </a>
            {{/if}}
          </div>
          {{/if}}
        </li>

        <ol class="item-list">
          {{#each section.items as |item iid|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow rollable">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <h4>
                {{item.name~}}
              </h4>
            </div>

            {{#if section.showTypes}}
            <div class="item-detail item-type">
              <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
            </div>
            {{/if}}

            <div class="item-detail item-attacks">
              <label>{{itemAttacks item ../../rollData}}</label>
            </div>

            <div class="item-detail item-damage tooltip">
              {{#if item.hasDamage}}
              <label>{{ellipsis (itemDamage item ../../rollData) 8 -4 2}}</label>
              <span class="tooltipcontent">
                {{itemDamage item ../../rollData}}<br/>
                <br/>
                {{localize "PF1.Details"}}:<br/>
                {{#each item.data.damage.parts as |pt ix|}}
                  {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                {{/each}}
                {{#if item.data.damage.nonCritParts}}
                  {{#each item.data.damage.nonCritParts as |pt|}}
                    {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                  {{/each}}
                {{/if}}
                {{#if item.data.ability.damage}}
                  {{abilityMod item.data.ability.damage ../../rollData item.data.ability.damageMult}} [{{lookup ../../config.abilities item.data.ability.damage}}]<br/>
                {{/if}}
                {{#if item.data.enh}}
                  {{item.data.enh}} [{{localize "PF1.EnhancementBonus"}}]<br/>
                {{/if}}
                {{#if item.data.damage.critParts}}
                  <br/>+ {{localize "PF1.CritDamageBonusFormula"}}<br/>
                {{/if}}
                {{#if item.data.conditionals}}
                  <br/>+ {{localize "PF1.Conditionals"}}<br/>
                {{/if}}
              </span>
              {{/if}}
            </div>

            <div class="item-detail item-range">
              {{#if item.hasRange}}
              <label>{{itemRange item ../../rollData}}</label>
              {{/if}}
            </div>

            <div class="item-detail item-actions">
              <div class="item-attack tooltip">
                {{#if item.hasAction}}
                <span class="tooltipcontent">
                  {{localize "PF1.PerformAttack"}}
                </span>
                <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                {{/if}}
              </div>
            </div>

            <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
              {{#if item.isCharged}}
              <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.data.uses.value}}</span>
              <span class="sep"> / </span>
              <span class="text-box">{{item.data.uses.max}}</span>
              <span class="tooltipcontent">
                @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                @resources.{{item.tag}}.max : {{item.data.uses.max}}
              </span>
              {{/if}}
            </div>

            {{#if ../../owner}}
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
              <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </ol>
    </div>
    {{/unless}}
    {{/each}}
  </section>
</div>

<hr>

{{!-- Defenses Header --}}
<div class="combat-defenses">
  <ul class="attributes flexrow">
    {{!-- Roll Defenses --}}
    <li class="generic-defenses flexrow" data-drag="defenses">
      <div class="rollable image-d20"></div>
      <h3>{{localize "PF1.Defenses"}}</h3>
    </li>

    {{!-- Natural Armor --}}
    <li class="natural-armor flexrow">
      <h3>{{localize "PF1.BuffTarACNatural"}}</h3>
      <span class="text-box direct" name="data.attributes.naturalAC" data-dtype="Number">{{data.attributes.naturalAC}}</span>
    </li>

    <li class="flexrow">
      <h3>{{localize "PF1.SpellResistance"}}</h3>
      <input name="data.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}"
        value="{{#if data.attributes.sr.formula}}{{data.attributes.sr.formula}}{{/if}}"/>
    </li>
  </ul>

  {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

  <div class="attributes defense-notes flexcol scroll-primary" data-scroll-index="defense-notes">
    <div class="flexrow">
      <label><h3>{{localize "PF1.SaveNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.saveNotes" placeholder="{{localize "PF1.SaveNotes"}}">{{data.attributes.saveNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.ACNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.acNotes" placeholder="{{localize "PF1.ACNotes"}}">{{data.attributes.acNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.CMDNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.cmdNotes" placeholder="{{localize "PF1.CMDNotes"}}">{{data.attributes.cmdNotes}}</textarea>
    </div>
    <hr>
    <div class="flexrow">
      <label><h3>{{localize "PF1.SpellResistanceNotes"}}</h3></label>
      <textarea class="context-text" name="data.attributes.srNotes" placeholder="{{localize "PF1.SpellResistanceNotes"}}">{{data.attributes.srNotes}}</textarea>
    </div>
    <hr>
  </div>
</div>
